[2017-05-25 13:19] lance opened #1 "Add branches for each major version"
Docker's [automated builds](https://docs.docker.com/docker-cloud/builds/automated-build/#configure-automated-build-settings) prefer for branches to be used to indicate tags on image builds. Since our images are tagged by nodejs version number, we should use branches to distinguish between them.

[2017-05-26 19:59] lance commented on #1
Completed. There are now branches for 4.x, 5.x, 6.x, 7.x and latest. Updated images have been pushed to the existing docker hub repository. https://hub.docker.com/r/bucharestgold/centos7-s2i-nodejs/

[2017-05-26 19:59] #1 closed

[2017-05-26 20:02] lance opened #3 "Add .travis.yml and set up CI"
We need to set up CI for this repo, we'll want to run 'make all' for each branch: 'master', 4.x, 5.x, 6.x and 7.x

[2017-05-26 20:05] lance opened #4 "Backport yarn enablement to all branches"
See: [here](https://github.com/bucharest-gold/centos7-s2i-nodejs/pull/2/)

[2017-05-26 22:03] lance opened #5 "Add image-streams.json"
Not sure the best way to do this. In origin-s2i-nodejs, we're using a node script [here](https://github.com/bucharest-gold/origin-s2i-nodejs/blob/master/build/rebuild.js#L131). I wonder if this could be a part of the tool you are currently working on @helio-frota

[2017-05-30 15:49] lance opened #6 "Override build hooks for docker cloud"
Since our build requires make in order to [set some environment variables](https://github.com/bucharest-gold/centos7-s2i-nodejs/blob/master/Makefile#L20-L24) about the version numbers, we can't use docker's autobuild/autotest feature with its default behavior, since all that does is run `docker build`. We need to pass `--build-args` flags to that command, and overriding build hooks is a way to do

[2017-05-30 18:46] #3 closed

[2017-05-31 15:25] lance opened #7 "Add publishing guide"
Make sure we have a documented way to publish these images.

[2017-05-31 15:25] lance commented on #7
Fixed in https://github.com/bucharest-gold/centos7-s2i-nodejs/commit/b83f909fbeb6ad3f090f3d8e95593c55c8002210

[2017-05-31 15:25] #7 closed

[2017-05-31 18:28] lance opened #8 "Improve README.md"

[2017-05-31 18:39] lance opened #9 "Investigate and resolve npm warnings on image install"
[code]

[2017-06-01 18:32] #4 closed

[2017-06-01 18:35] lance commented on #4
See:
* 369ed99563d0ec6ff609545de9e33ae2b721c7cf
* 4b0d4979fb18c161b8f3bafd421f8f6fbff7f303
* abd0513c10691e876de060c215e933241b282225
* 687b547151315382d1ac4e9a3c3bb4b425497b7a
* 687b547151315382d1ac4e9a3c3bb4b425497b7a

[2017-06-01 18:39] lance commented on #6
Fixed in a3bb2a44d2b0c020d9b2746197f53ea739e5dabb and c34cbb903dbdd249a5a6d3d646cdd653e481b8a0 with lots of stupid stuff that should be squashed in between.

[2017-06-01 18:39] #6 closed

[2017-06-01 21:23] david-martin commented on #9
@lance I'm seeing this output a few times, then a failure (exit code 13).
Maybe this output is unrelated to the failure?
There is an npm proxy, which works with previous versions, but I won't rule that out as a cause of this failure.
I'll see if I can get it past this step either way.

[code]

[2017-06-01 21:28] david-martin commented on #9
The 6.x tag is working OK  (above was with the 8.x tag) with the same repo & npm proxy.
https://gist.github.com/david-martin/552526cd7a01b34de8844c04b7504c1c

[2017-06-02 09:05] david-martin commented on #9
An update on my problem. It looks like an npm proxy issue, not related to the npm update warnings.
Output with silly logging can be seen here https://gist.github.com/david-martin/2ebfa60608913b9269f7c3ebc9f74b51
Its getting 407 errors for every package.  Interesting that it works ok for with node 6.x, so maybe an npm change. I'll raise a separate issue if i can figure it out.

[2017-06-02 22:09] david-martin commented on #9
@lance Getting back to the issue at hand, here's the error & stack when that warning is being output (I added some extra logging to see it)
[code]

Its being output from here in the update-notifier module, which npm uses to check if it's up to date.
https://github.com/yeoman/update-notifier/blob/master/index.js#L40-L59
Related issue in that lib https://github.com/yeoman/update-notifier/issues/109

[2017-06-05 13:49] lance commented on #9
@david-martin I appreciate all your work on this - thanks!

[2017-06-05 13:49] #9 closed

[2017-06-05 21:15] #5 closed

[2017-06-07 06:45] pawelkarda opened #12 "Metadata name cannot contain '/'"
While importing image stream image-streams.centos7.json into Openshift 3.5 I get an error:
metadata.name: Invalid value: "bucharestgold/centos7-s2i-nodejs": may not contain '/'

According to https://kubernetes.io/docs/concepts/overview/working-with-objects/names/ the names of Kubernetes resources should be up to maximum length of 253 characters and consist of lower case alphanumeric characters, -,

[2017-06-07 17:31] #12 closed

[2017-06-15 14:43] lance opened #14 "Release Node 8.1.2 image"

[2017-06-15 16:37] #14 closed

[2017-07-06 14:53] lance opened #15 "Release new image for 8.1.3"
Released June 29, 2017.

[code]

[2017-07-14 15:49] lance commented on #15
Now that 8.1.4 has been released, and we have published new images, this issue is irrelevant

[2017-07-14 15:49] #15 closed

[2017-07-21 18:56] lance opened #16 "Release 8.2.1 images"

[2017-07-21 18:57] lance commented on #16
Landed in https://github.com/bucharest-gold/centos7-s2i-nodejs/commit/2e75a2b7ac4b0c0af9b6ac2b4571b4372b3b51ad

[2017-07-21 18:57] #16 closed

[2017-08-10 13:41] helio-frota opened #17 "problem when using the latest version of s2i tool"
[code]

Downgrading to 1.1.5 solves the issue.
https://github.com/openshift/source-to-image/releases

[2017-08-10 14:45] helio-frota opened #18 "fedora26 docker Registry: https://registry.fedoraproject.org/v1/"
I'm with the same issue reported here:
https://bugzilla.redhat.com/show_bug.cgi?id=1472311

After change (locally) this like https://github.com/bucharest-gold/centos7-s2i-nodejs/blob/master/Makefile#L40

from:
[code]
to:
[code]
Solves the problem of using `registry.fedoraproject.org/v1` inside `~/.docker/config.json`.
But I'm still getting the error message:

[code]

[2017-08-10 14:55] helio-frota commented on #18
I'm going to try docker-ce for fedora 26
https://download.docker.com/linux/fedora/26/x86_64/test/Packages/

[2017-08-10 15:25] helio-frota commented on #18
not luck for me today
now I'm getting gpg error

[code]

this is not related to docker version btw

[code]

[2017-08-10 16:01] helio-frota commented on #18
seems like need to wait more because some of them are working :

[code]

some minutes later...
[code]

[2017-08-10 17:15] helio-frota commented on #18
done.

[2017-08-10 17:15] #18 closed

[2017-08-10 18:12] helio-frota opened #19 "I did something diff/wrong"
The version 8.3.0 is on dockerhub and workin, but I'm not following whats happened to the branch

[code]

I'm trying to push the changes to the 8.x github branch

[2017-08-10 18:17] danbev commented on #19
Should that be upstream/8.x perhaps?

[2017-08-10 19:10] helio-frota commented on #19
@danbev thanks, but unfortunately no. I'm using only the main repo : /

[code]

[2017-08-10 19:27] helio-frota commented on #19
I'm going to delete this local repo and start all again but **without** publish part.

[2017-08-10 19:36] helio-frota commented on #19
from the docs:
https://github.com/bucharest-gold/centos7-s2i-nodejs/blob/master/PUBLISHING.md#updating-node-versions

master updated, now going to the 8x to cherry-pick and then push to the branch.

[2017-08-10 19:53] helio-frota commented on #19
maybe I did another thing wrong because github is showing a 'change' with no 'changes'

[code]

![foo](https://user-images.githubusercontent.com/6443576/29189298-57d64674-7dec-11e7-9c4e-2e36dac0b31c.png)

when I click on compare and select the 8.x branch:

![bar](https://user-images.githubusercontent.com/6443576/29189323-68a0ff8a-7dec-11e7-8284-96989a03ff68.png)

[2017-08-10 20:01] helio-frota commented on #19
the problem with the first time was 'origin/8.x' instead only '8.x' : /

[2017-08-11 13:10] #19 closed

[2017-08-14 20:22] lance commented on #17
The deprecated `--force-pull` option was removed in [1.1.60(https://github.com/openshift/source-to-image/releases/tag/v1.1.6). We can use `--pull-policy` instead.

`-p, --pull-policy string               Specify when to pull the builder image (always, never or if-not-present) (default "if-not-present")`

[2017-08-15 02:57] #17 closed

[2017-08-29 16:27] cesarvr opened #20 "Reduce image size"
Just a suggestion what do you think of looking for ways to reduce the images size.
I think it can be cool to have images sizes similar [alpine-node](https://github.com/mhart/alpine-node) they get sizes of ≈40MB.  If we have that, it can dramatically increase deploy speed and transfer between node's.

- I think we can create maybe a strip down Centos7 (139 MB) image. just leaving there dnf(package

[2017-08-30 15:26] lance commented on #20
Our image extends the base image `openshift/base-centos7`, which itself is 139MB compressed. We add 27MB to it to create a 166MB image. Which is essentially the size of node+npm and that's about it.

So you are right to say that stripping down the image would be good, but that means it will either need to happen as an upstream pull request on https://github.com/sclorg/s2i-base-container which is t

[2017-08-30 18:15] cesarvr commented on #20
Awesome, I will take a look to see if the size can be reduced.

[2017-08-31 14:52] lance commented on #20
@cesarvr I also found information about "chained builds" in the [openshift documentation](https://docs.openshift.org/latest/dev_guide/builds/advanced_build_operations.html#dev-guide-chaining-builds). Using this would allow us to have both a builder image (our current centos7-s2i-nodejs image), and a runtime image that is considerably smaller.

The s2i image would be responsible for creating the ru

[2017-09-01 20:14] cesarvr commented on #20
Hi @lance , I was having some fun and try to do my own image from scratch so I create this one [cvaldezr/fedora-example](https://hub.docker.com/r/cvaldezr/fedora-example/tags/) (Fedora26).
If you want to give it a try just clone the current project and change the base image to point to cvaldezr/fedora-example and execute `docker build --build-arg NODE_VERSION=6.11.2 -t sti-node-light .`, so you ca

[2017-09-06 13:14] lance opened #21 "Update LTS version"
New 6.x release on Sept. 5.

[2017-09-13 13:22] lance opened #23 "Add support for 8.5.0"

[2017-10-23 13:26] lance commented on #23
Updated to 8.7 in https://github.com/bucharest-gold/centos7-s2i-nodejs/commit/e99c03233a60d22a87be6e683d884e278a701699

[2017-10-23 13:26] #23 closed

[2017-10-23 13:27] lance commented on #21
6.11.4 released in https://github.com/bucharest-gold/centos7-s2i-nodejs/commit/4f8c725ba809b9ffa46da9cce1832244ed42b8a0

[2017-10-23 13:27] #21 closed

[2017-12-13 16:35] lance opened #24 "Release 9.3.0"
https://nodejs.org/en/blog/release/v9.3.0/

[2017-12-13 16:36] lance opened #25 "Release 8.9.3"
https://nodejs.org/en/blog/release/v8.9.3/

[2017-12-13 16:38] lance opened #26 "Update publishing guide"
It is quite out of date

[2017-12-13 17:03] lance commented on #24
Landed in https://github.com/bucharest-gold/centos7-s2i-nodejs/commit/0595efe5603ca09ace3c9ea99f7478949c4b56e4

[2017-12-13 17:03] #24 closed

[2017-12-13 17:03] lance commented on #25
Landed in https://github.com/bucharest-gold/centos7-s2i-nodejs/commit/50e4fb0ee73e687b823bd4bed390dde9bdf97d19

[2017-12-13 17:03] #25 closed

[2017-12-15 19:27] lance opened #27 "Auto publish new builds when base image is updated"
Our docker file extends `openshift/base-centos7`. We need to automatically publish new images when this base image is updated.

This is currently possible in Docker Hub, but for whatever reason, if you already have a repository created in docker hub, you cannot convert it to have this auto linking. At the moment, docker _cloud_ is doing our automated builds and pushing to docker hub, since this ha

[2017-12-19 08:45] chargio commented on #26
And it doesn't work

[2017-12-19 14:53] lance commented on #26
@chargio what exactly doesn't work, and how does it behave? From your message it sounds like perhaps you are referring to [this](https://github.com/bucharest-gold/centos7-s2i-nodejs#installation), but I am not sure.

[2017-12-19 16:13] chargio commented on #26
Yes, when I do th installation following those instructions, the imagestream is not there.
``` oc get is```
would sshow it

But it is not in the catalogue. I can't find it in seach, not javascript, not uncategorized

[2017-12-19 22:58] lance opened #28 "image stream import does not appear in the catalog"
When importing the `image-streams.centos7.json` file as described in `README.md`, the image stream is imported in to the `minishift` and/or `openshift` cluster, but it is no longer displayed in the web UI as a part of the catalog.

This behavior exists for both `minishift` and OpenShift Online.

Once imported, the image will appear in the Builds->Images page, but not in the catalog.

![screen shot

[2017-12-19 23:00] lance commented on #26
@chargio that is not really relevant to the publishing guide - which is just to document how we do a release of this stuff a little bit better. It is, however a problem that I have duplicated. I created a new issue for it [here](https://github.com/bucharest-gold/centos7-s2i-nodejs/issues/28).

[2017-12-20 19:00] lance commented on #28
Upstream Issue: https://github.com/openshift/origin/issues/17905

[2017-12-20 19:01] lance commented on #26
@chargio if you would like to track the upstream issue it is here: https://github.com/openshift/origin/issues/17905

[2017-12-21 07:54] chargio commented on #26
Thanks @lance

[2017-12-21 22:17] lance commented on #28
@chargio I have updated the README.md to reflect the required steps as noted by the OpenShift team. https://github.com/bucharest-gold/centos7-s2i-nodejs/commit/b919c6e0e51b37f88f93a7ed067ba24d7dddb485

However, I will leave this open because it is still not clear why a user must now be logged in as `system:admin` to achieve this.

[2018-01-11 14:03] lance opened #30 "default permissions are problematic"
The application image that results from a build has directory permissions that prevent writes.

[2018-01-22 17:54] chargio commented on #30
I am getting problems to run patternfly because of this in minishift 3.7

npm build is not executed? I don't see the fonts or the css in the proper place

when I rsh into the pod  and I run

[code]

Etc

[2018-01-23 17:07] #30 closed

[2018-01-23 17:13] lance commented on #30
@chargio this should now be resolved in `latest`, `9.x` and `8.x`. Let me know if this solves your issue.

[2018-01-24 08:49] chargio commented on #30
@lance
No change

src is still with the wrong permission (`drwxr-xr-x  2 default root 4096 Jan 24 08:44 css`)

I've done:
[code]

[2018-01-24 08:50] chargio commented on #30
Using
Version

OpenShift Master:
    v3.7.1+ab0f056
Kubernetes Master:
    v1.7.6+a08f5eeb62

minishift v1.11.0+4459917

[2018-01-25 20:41] lance commented on #30
@chargio I have just published new versions of 8.x, 9.x and latest to dockerhub. I'm pretty sure this should fix your problem. Please let me know.

[2018-01-26 07:57] chargio commented on #30
It does work now @lance

But it does not run  `npm run-script build` during the build

Can I suggest that enhancement?

[2018-01-26 07:59] chargio opened #32 "Run npm run-script build during build"
The current build does not execute  `npm run-script build`
In order to make it work, you need to manually connect and execute it on the pod. New builds with new dependencies can fail because of that.

Using a post deployment hook returns `

[code]

[2018-01-29 22:56] lance commented on #32
I'm not sure I understand what you are describing. Can you please tell me how to reproduce this?

[2018-01-30 02:30] lance commented on #30
@chargio I noticed tonight the PR in the sclorg repo that does this, and I like it. Would you mind opening an Issue for it?

Glad we got the permission problem solved.

[2018-01-30 03:11] lance commented on #32
@chargio I can take care of this. It's been a long day. :)

[2018-01-30 13:30] chargio commented on #32
I've discovered it does not work if memory is under 512MiB - 1024GiB
So it does not work in openshift online... as the quota limit is 512MiB max

I can't see how to solve that.

[2018-01-30 13:32] lance commented on #32
@chargio when you say "it doesn't work", do you mean the entire builder image doesn't work? Or just running `npm run-script build` doesn't work?

[2018-01-30 13:54] chargio commented on #32
Running:
```npm run-script build```

never finish, and you get a time out (and the pod is killed). I've tried modifying both the assemble script and the run script and the result is the same. In minishift you get the same problem (with 2GB of memory for the minishift VM).

It does not happen with minishift on 3.7, but it does not work in openshift online.

[2018-01-30 14:02] lance commented on #32
I will look into this today, but I wonder if the problem is less about
`run-script` and more about the fact that patternfly is very big. Just a
thought...

[2018-01-30 14:12] chargio commented on #32
I've tried too with react-demo-script

[2018-01-31 20:52] lance commented on #32
@chargio what about adding a `postinstall: npm run build` - have you tried that?

[2018-01-31 21:14] rhoads-zach opened #33 "Enable OpenShift Debugging"
Enable a debugger to attach to a node.js application running in OpenShift.

ATM, you can set the following environment variables:
* DEV_MODE=true
* NODE_ENV=development

which will provide some access over 5858, but you should consider a different solution.

[2018-02-01 09:58] chargio commented on #32
I tried that too, but I got an error, it couldn't find npm.

[2018-02-01 10:00] chargio commented on #32
What about a ENV VARIABLE

you could do run build if there is variable called: build_assets, and the parameter could be the actual order 'npm run build' or just 'build'

[2018-02-01 16:22] lholmquist commented on #32
"I tried that too, but I got an error, it couldn't find npm." can't you add "npm" as a dev dependecy to the project, then the postinstall script should see it

[2018-02-01 18:36] chargio commented on #32
I will try that, thanks, but I was expecting that to be easier, for instance, you can't configure secrets in the build...

[2018-02-01 20:09] lance commented on #32
@chargio I have added a test that exercises the `postinstall` script in this commit https://github.com/bucharest-gold/centos7-s2i-nodejs/commit/786c3898a8d7d53a92de0126a38f769307e16931 and it works without issue. Can you please try using `postinstall` again? This should work for you.

It's not clear to me what the issue is with secret config. Can you be clearer about what you want to achieve?

[2018-02-06 14:56] lholmquist opened #34 "flag to not install dev dependencies"

[2018-02-07 13:37] lance commented on #32
@chargio ping - checking to see if you have had any success here. I would like to close this if possible, but want to make sure we've got you going.

[2018-02-07 17:57] chargio commented on #32
@lance I can't start a new install right now, we are in the middle of development. Close it and I will try again later

[2018-02-07 18:01] chargio commented on #32
@lance I am not writing the code. Close it and I will try again later

[2018-02-07 18:01] #32 closed

[2018-02-19 16:19] helio-frota opened #35 "build error: non-zero (13) exit code from bucharestgold/centos7-s2i-nodejs:latest"
When using [mean-booster](https://github.com/bucharest-gold/mean-booster) + nodeshift + rhoaster, depending on the configuration of the environment, we see an error.

**locally**  `oc cluster up`  (v3.9.0-alpha) + `nodeshift`

[code]

**locally**  `oc cluster up`  (v3.9.0-alpha) + `rhoaster`

[code]

The same code works on travis --> https://travis-ci.org/bucharest-gold/mean-booster/builds/3434284

[2018-02-19 21:22] lance commented on #8
Closing this as it's not very useful and has been sitting around for 9 months with no activity.

[2018-02-19 21:22] #8 closed

[2018-02-26 15:01] lholmquist commented on #34
landend in 46e2e54

[2018-02-26 15:01] #34 closed

[2018-02-28 15:21] lholmquist opened #38 "DEV_MODE=true permission error install dev deps"
running on minishift,
setting DEV_MODE=true

https://gist.github.com/lholmquist/ef9a55586c186fa6e35cd2a8db0ca532

[2018-02-28 16:30] lance opened #39 "Bump to 8.9.4-4 to address permission issues"
## New Node.js minor version bump

Use this issue template to report a minor version bump in Node.js.

New Node.js version number: 8.9.4-4

### Tasks

Check out the branch for whatever version is being updated. E.g.

[code]

All of the following tasks occur on this branch.

- [x] Ensure a [published node-rpm](https://github.com/bucharest-gold/node-rpm/releases) for this version exists.
- [ ] Updat

[2018-02-28 16:31] lance opened #40 "Bump to 9.4.0-4 to address permission issues"
## New Node.js minor version bump

Use this issue template to report a minor version bump in Node.js.

New Node.js version number: 9.4.0-4

### Tasks

Check out the branch for whatever version is being updated. E.g.

[code]

All of the following tasks occur on this branch.

- [x] Ensure a [published node-rpm](https://github.com/bucharest-gold/node-rpm/releases) for this version exists.
- [ ] Updat

[2018-02-28 20:45] helio-frota commented on #35
My docker dns is not working well.

with firewall enabled:
[code]

firewall disabled:

[code]

not resolves `https://registry.npmjs.org/angular`

[code]

probably can be closed, but would be nice to have a confirmation.

[2018-03-01 00:27] helio-frota commented on #35
confirmed on ubuntu
![screenshot from 2018-02-28 21-27-03](https://user-images.githubusercontent.com/6443576/36820745-3288102e-1cce-11e8-9fa7-0cde0017be63.png)

[2018-03-01 00:27] #35 closed

[2018-03-01 21:57] lance commented on #40
Closed with tag `node-9.4.0-6`.

[2018-03-01 21:57] #40 closed

[2018-03-01 21:58] lance commented on #39
Landed in tag `node-8.9.4-6`.

[2018-03-01 21:58] #39 closed

[2018-03-01 21:58] lance commented on #38
This should be resolved with #39 and #40

[2018-03-01 21:58] #38 closed

[2018-03-07 10:47] chargio commented on #32
@lance I made this work. I was using an Openshift postinstall, not a node.js postinstall, and thus it didn't work. I tried with a node postinstall script and it worked.
It should be documented, anyway.

[2018-03-09 14:49] #28 closed

[2018-03-12 21:44] lance opened #58 "build: add docker tag for node version"
We currently add tags for LTS names and top-level version numbers, e.g. `8.x`, as well as `latest`. For completeness, we should add tags for the specific versions, e.g. `8.9.4`.

[2018-03-12 21:45] #58 closed

[2018-03-22 22:03] lance opened #60 "consider adding NODE_PENDING_DEPRECATION flag"
This will warn us of any `new Buffer()` usage which will be deprecated in 10.0.0 one month from now.

[2018-03-27 13:04] lholmquist opened #61 "Permission issues when running NODE_ENV=development and DEV_MODE=true"
i'm working on this nodeshift issue, https://github.com/bucharest-gold/nodeshift/issues/208 to get buildConfig env vars, so i set NODE_ENV=development in my buildConfig and the build phase works fine with installing dev deps.

But during the pod deploy, i get permission issues now, when trying to load with nodemon(since DEV_MODE=true is set because of the development node env)

![screen shot 2018-

[2018-03-27 19:19] lance commented on #61
Related: https://github.com/bucharest-gold/centos7-s2i-nodejs/issues/38

[2018-03-27 19:32] lance commented on #61
@lholmquist I think this is what is biting us. I wonder if doing `npm cache clean` at the end of the [assemble script](https://github.com/bucharest-gold/centos7-s2i-nodejs/blob/master/s2i/assemble#L64) might work. Is it easy enough to try that locally?

[2018-03-27 19:36] lholmquist commented on #61
let me try.

[2018-03-27 20:14] lholmquist commented on #61
I think i got something working here.

https://github.com/lholmquist/centos7-s2i-nodejs/commit/4a3b1e8d95c612f81d5f0f39c435b9c7fa19b316

Basically, i moved the block of code that cleaned the npm cache and then fixed the write permissions down a little, so both a "production" and "development" environment will run it

[2018-03-27 23:28] lance commented on #61
Fixed in: https://github.com/bucharest-gold/centos7-s2i-nodejs/commit/db8b853312b893548434cf7e55b130fd1683bf2b

[2018-03-27 23:28] #61 closed

[2018-03-27 23:28] lance commented on #61
@lholmquist new images have been pushed for `latest`, `9.x` and `8.x`.

[2018-03-28 17:45] lance commented on #60
The flag that we would add to our s2i run script would be `--pending-deprecation`. But since it is possible for users to set this in the environment using `NODE_PENDING_DEPRECATION=1` it seems unnecessary to have the flag always on.

[2018-03-28 17:45] #60 closed

[2018-03-29 12:37] lance opened #64 "remove releases.json"
This is an artifact from earlier that is no longer used. It should be removed from `master`, `8.x` and `9.x`

[2018-03-29 12:38] lance opened #65 "remove README.md from branches other than master"
It's not reasonable to maintain the correct version numbers in README.md across all branches, and it's only really relevant in `master` since we use it to auto-populate the Docker hub page for this image.

[2018-04-02 20:53] lance commented on #26
Fixed in https://github.com/bucharest-gold/centos7-s2i-nodejs/pull/66

[2018-04-02 20:53] #26 closed

[2018-04-03 16:08] #64 closed

[2018-04-03 16:08] #65 closed

[2018-04-18 21:00] lholmquist commented on #33
Ok, so at some point i was able to remote debug my application running on openshift in the chrome debugger, so i set out to remember how to do it.

I had originally used the openshift-test repo, https://github.com/lance/openshift-test.

deployed that openshift in debug mode

The end of the log of the pod looked sort of like this:

[code]

Then from console, i did this:
`oc port-forward $(oc get po

[2018-04-18 21:04] lholmquist commented on #33
might be a possible solution  https://github.com/remy/nodemon/issues/1226

[2018-04-18 21:04] lance commented on #33
@lholmquist are you sure you don't need to expose that port as a route?

[2018-04-18 21:27] lance commented on #33
Ahh - I think you are right @lholmquist - specifically this comment in that issue

[2018-04-18 21:33] lholmquist commented on #33
that almost worked,  I added the main section with "./bin/www" and my scripts.start is not "PORT=8080 node ."

but it looks like nodemon is stripping of that PORT part for some reason.
[code]

almost there.

with this new setup, if i do a "npm run start" locally, things are working,

[2018-04-19 02:13] lholmquist commented on #33
It looks like this is expected behavior for nodemon.  from what i've seen, if you want to add an environment variable during the nodemon execution, you do something like `PORT=8080 nodemon`

So there are a couple things we can do for the boosters to add the PORT env variable.

1. change the default port in the "./bin/www" file to 8080 instead of 3000 - https://github.com/bucharest-gold/nodejs-conf

[2018-04-26 07:27] reneklootwijk opened #84 "Signals not received because scripts are not running under pid 1"
The way a node script is executed results in the node script not running under pid 1.
This is an example of the process table:
UID        PID  PPID  C STIME TTY          TIME CMD
default      1     0  0 07:14 ?        00:00:00 /usr/bin/scl enable rh-git29 --
default      7     1  0 07:14 ?        00:00:00 /bin/bash /var/tmp/scl2s24MJ
default     10     7  1 07:14 ?        00:00:00 node svc.js

Whe

[2018-04-26 18:07] bobmcwhirter commented on #84
[code]

[2018-04-26 18:07] bobmcwhirter commented on #84
Sorry for the java-centric comment, it's what I know.

[2018-04-26 22:52] lance commented on #84
@reneklootwijk I have noticed the behavior, but had no idea why. Thank you for pointing this out. I worry that this might be a side effect of `s2i`, but am not sure. I will take a look.

[2018-04-27 06:09] reneklootwijk commented on #84
I use s2i all the time and never had this issue. When using the other nodejs image, I mentioned,  there is no issue.

[2018-04-27 10:44] lance commented on #84
Okay thanks for that info. I will take a look today to see what I can find

[2018-04-27 21:30] lance commented on #84
@reneklootwijk we think this might be a fix for you https://github.com/bucharest-gold/centos7-s2i-nodejs/tree/git-test. I have tested by using a builder image built from this branch, deploying a simple app to openshift, logging in to the running pod and viewing the running processes via `top`. Here's what I see. I think this is more like what you are looking for.

[code]

[2018-05-01 03:28] lance commented on #84
@reneklootwijk can you confirm whether this fix (on 8.x, 8.x, 10.x and latest) has resolved your issue.

[2018-05-02 13:34] lance commented on #20
With the move towards using our own base image, this task has become somewhat irrelevant

[2018-05-02 13:34] #20 closed

[2018-05-02 13:36] #33 closed

[2018-05-02 13:41] #84 closed

[2018-05-14 17:38] lincolnthree commented on #35
Hey guys,

We're seeing this issue trying to deploy a new Node.js app/CronJob ... it seems sporadic. Is there something we're missing? I don't really see a resolution in this issue or am I missing it?

[code]

Any assistance would be super appreciated!

Thanks,
~Lincoln

[2018-05-14 17:47] lance opened #89 "Restoring build artifacts fails if no postinstall script exists"
When a build is being recreated on openshift and we are restoring existing artifacts from the image cache, we [explicitly call](https://github.com/bucharest-gold/centos7-s2i-nodejs/blob/master/s2i/assemble#L48) `npm run postinstall` even if no `postinstall` script exists.

A workaround for this is to add a noop `postinstall` script to your package.json

[2018-05-14 17:48] lance commented on #35
Hi @lincolnthree - yours is a legitimate bug that was not covered by this issue. The problem is that when we are restoring build artifacts [here](https://github.com/bucharest-gold/centos7-s2i-nodejs/blob/master/s2i/assemble#L48), we run `npm run postinstall` explicitly.

A short term fix for this is to just add a noop postinstall script in your package.json.

I've opened an issue for the problem [

[2018-05-14 18:01] lincolnthree commented on #35
Ah gotcha. Thanks, Lance. That makes sense. Will give that a shot!

[2018-05-14 18:06] lincolnthree commented on #89
It works!

[code]

[2018-05-17 17:54] lincolnthree opened #92 "Can't resolve devDependencies when running npm scripts in container?"
Hey folks,

Not exactly sure if this is user error, something I've missed, or a bug... but... here goes:

Essentially I am having trouble getting an S2I build to run because some things seem to be missing, and I'm not sure why.

The image build actually succeeds, but when the node app actually spins up and starts running NPM_RUN scripts, it fails to find things like "rimraf" and "cpy" which are sp

[2018-05-17 17:57] lholmquist commented on #92
@lincolnthree by default,  we do a "production" install, which doesn't install devDepencies
If you add `NODE_ENV=development` to your deploy, it will install dev dependecies during deployment

or move those devDepencies to regular dependencies

[2018-05-17 18:01] lincolnthree commented on #92
Hey @lholmquist ! Thanks. I actually just tried that and got a little farther (Yay!), but it's failing to install dependencies because there's no FS access now:

[code]

[2018-05-17 18:01] lincolnthree commented on #92
Ideas about this one?

[2018-05-17 18:04] lincolnthree commented on #92
Full log:

[code]

[2018-05-17 18:06] lholmquist commented on #92
adding in @lance @danbev

[2018-05-17 18:43] lance commented on #92
@lincolnthree I have been traveling a bit and will be able to spend more time on this soon, but for now, I have a suspicion about something. If you were to remove all of the artifacts from this project (deployment configs, build configs, builds, image streams, routes and services), then redeploy, does the problem still occur?

[2018-05-17 18:51] lincolnthree commented on #92
Trying with a delete.

[2018-05-17 19:04] lincolnthree commented on #92
The view at that speaker's dinner looked.... stunning.

[2018-05-18 05:40] lance commented on #92
@lincolnthree I haven't looked at your project to see exactly what you are doing, but here is my theory.

When you deploy an application more than once, the `assemble` script tries to be smart and will use the `node_modules` directory from previous installs in order to save on deployment time https://github.com/bucharest-gold/centos7-s2i-nodejs/blob/master/s2i/assemble#L42-L49. I think this might

[2018-05-18 09:45] lance commented on #92
@lincolnthree since you had success after removing the previous build configuration and other artifacts, does the problem still occur when you try to rebuild?

[2018-05-18 09:49] lance opened #93 "should we remove save-artifacts step?"
The [restore-artifacts](https://github.com/bucharest-gold/centos7-s2i-nodejs/blob/master/s2i/assemble#L42-L49) step of our assemble script which will restore npm dependencies is intended to make redeployments quicker because we don't need to resinstall the dependencies on every build. However, with the permission handling that openshift uses, and the fact that users may indeed be doing things duri

[2018-05-18 13:30] lholmquist commented on #93
perhaps.

I wonder if we should try to see how `npm ci` fits into our builder,

https://docs.npmjs.com/cli/ci
https://blog.npmjs.org/post/171556855892/introducing-npm-ci-for-faster-more-reliable

I guess it replaces `npm install` and is a lot faster(?).  I think you need to have a package-lock/shrinkwrap.json or it errors,  but this might be an option to look into.

from the description:

[code]

[2018-05-18 14:06] lincolnthree commented on #92
Checking...

[2018-05-18 14:11] lincolnthree commented on #92
It fails with the same error. Interesting.

[2018-05-18 14:45] lance commented on #92
@lincolnthree I took a look at your package.json and I have to say... that's a complicated build! Can you help me out by explaining how your build works - or even providing a simpler sample project where I can easily reproduce the error within a test case?

[2018-05-18 14:50] lance commented on #93
@lholmquist are you suggesting that we eliminate the `[save|restore]-artifacts` steps, and use `npm ci` in production mode - and leave dev mode alone? That sounds reasonable. I will play around with this.

[2018-05-18 15:06] lholmquist commented on #93
maybe?  i saw something shiny, and thought it might work for us.

[2018-05-18 15:15] lincolnthree commented on #92
@lance Yeah I'm simplifying it now. I forked from another project (Fabric8 launcher-frontend). I've been trying to cut out the stuff that's not necessary.

Basically just:

npm install
npm run build:prod
npm run start:prod

"build:prod": "webpack --config config/webpack.prod.js -p",
"start:prod": "node scripts/prod-server.js",

That's all that should be necessary.

[2018-05-18 15:18] lincolnthree commented on #92
@lance I'm having some other strange issues now. E.g. the image no longer seems to respect my .s2i/environment file. It's running some other commands and I don't really know what or why.

E.g. It seems to run npm install again in the deployment of the final image. Even after it's already done that during the image build. And it's not calling my `NPM_RUN=` (I know because I deleted the run script i

[2018-05-18 15:18] lincolnthree commented on #92
@lance The s2I image build step just seems to run the npm install and then postinstall scripts. Nothing else.

[2018-05-18 15:38] lincolnthree commented on #92
The strange part with that is I could swear it had been respecting this configuration before.

[2018-05-18 16:03] lincolnthree commented on #92
Ah. Apparently after reading through the S2I scripts, NPM_RUN is only respected in "production" NODE_ENV... seems like it should be respected in "development" as well?

[2018-05-18 16:13] lholmquist commented on #93
And how much time is this really saving(the current save/restore artifact step). even if we didn't have it we are probably still way faster than any Java based build :)

if we start using npm ci or not, i would say, lets remove it.

[2018-05-18 16:25] lincolnthree opened #94 "Cannot run in development during image creation, then in production for deployment"
So, it currently seems like there is no way to run in "development" NODE_ENV during a build, then to run in "production" NODE_ENV when the image is actually deployed.

The BuildConfig NODE_ENV doesn't seem to get picked up.

[2018-05-18 16:28] lincolnthree commented on #94
Actually the BuildConfig NODE_ENV doesn't seem to get picked up anyway.

[2018-05-18 16:29] lincolnthree commented on #94
[code]

[2018-05-18 16:34] lincolnthree commented on #94
I can't seem to get this to use development:

[code]

Seems like it should work according to --> https://github.com/bucharest-gold/centos7-s2i-nodejs/blob/master/s2i/env

[2018-05-18 16:42] lincolnthree commented on #94
This is what I've tried:

https://github.com/snowdrop/snowdrop-site-angular/commit/521a89dca5414d939507a1ab9d135bb21765b03a

[2018-05-18 16:47] lance commented on #92
@lincolnthree yeah, so in dev mode we run `nodemon` which looks at the `main` property in package.json. Can you try adding a `main: scripts/prod_server.js` line in your package.json to see if that helps?

[2018-05-18 16:51] lance opened #95 "doc: we should document that nodemon only looks at main in package.json"
See subject

[2018-05-18 16:56] lance opened #96 "integration: update image stream with current 10.x version info"
https://github.com/bucharest-gold/centos7-s2i-nodejs/blob/master/imagestreams/nodejs-centos7.yml#L22-L30

[2018-05-18 17:04] lholmquist commented on #94
Not to long ago i added something to nodeshift to add env vars to your build config,

This is what my build config looks like(edited down)

[code]

That makes the build phase install dev dependencies.  Looking at where you have your env vars in your build config,  i think they might be in the wrong spot?

I haven't actually tried to do development mode for builds, prod for deploy.  it might work?

[2018-05-18 17:09] lholmquist commented on #94
continuing the other comment,

to do developemnt build, production deploy, i guess you would need env vars set for both the build Config and deployment config, but i haven't actually tried that yet.

(looks like i need to also add something to nodeshift to do this, if this is a workflow people need)

[2018-05-18 17:20] lincolnthree commented on #94
Looks like yaml is screweing me up.... indentation. Let me try something.

[2018-05-18 19:08] lincolnthree commented on #94
Okay, yes, my DC and BC YAML indentation was botched. Adding env: vars here to DeploymentConfig and BuildConfig works as it should. Closing.

[2018-05-18 19:08] #94 closed

[2018-05-18 19:09] lincolnthree commented on #94
[code]

[2018-05-21 15:11] lance opened #97 "Set up changelog and other processes for releases"
Use standard-version to manage changelog.md

[2018-05-21 16:39] lance commented on #93
@lholmquist we can't use `npm ci` until Node.js upstream bumps the npm version. Both 8.x and 10.x are still on 5.6, while `npm ci` was introduced in 5.7. https://github.com/npm/npm/releases/tag/v5.7.0

We can track upstream progress here: https://github.com/nodejs/node/pull/20190. It's moving forward and will likely be in the next `semver-minor` release of 10.x, and should be backported to 8.x. I

[2018-05-21 16:41] lholmquist commented on #93
ah, right. i didn't actually look to see what the npm version was that started to include npm ci

[2018-05-21 18:05] #96 closed

[2018-05-21 20:19] #93 closed

[2018-05-21 20:20] #95 closed

[2018-05-21 20:21] lance commented on #89
Fixed in https://github.com/bucharest-gold/centos7-s2i-nodejs/commit/2125b6d591b95df92629c4526f6ff4725529b81e

[2018-05-21 20:21] #89 closed

[2018-05-21 22:59] lincolnthree commented on #92
So far so good. I figured out how to use the `BuildConfig env:` vars to control the node env for build vs. deploy. That seems to be the most reasonable solution. That said, I think there does need to be a way to configure `nodemon` to target a script in the package.json, not main. As main.js is often used for specifying actual code entry points, not build entry points, right?

I think the conflati

[2018-05-22 17:39] lance opened #103 "Remove automated builds"
Now that we are being more deliberate about things, we should not be publishing with every push to github. Autobuilds in Docker Cloud should be disabled.

[2018-05-22 17:41] lance commented on #103
Webhook setting in this repository, and auto build settings in cloud.docker.com have been disabled - not deleted (just in case we decide to reenable this in the future).

[2018-05-22 17:41] #103 closed

[2018-05-22 18:12] lance opened #104 "Document best practices for static sites built with Node.js"
This seems to be a common use of the image - to create static single-page apps that are built from React or Angular codebases. Until we create a separate builder image tuned for this kind of usage, we need to document best practices.

See: https://github.com/bucharest-gold/centos7-s2i-nodejs/issues/94

[2018-05-22 18:15] lance commented on #27
We have recently decided that auto builds are not ideal and removed auto publishing from Docker Hub. I'm going to close this for now. We can reopen in the future if deemed necessary.

[2018-05-22 18:15] #27 closed

[2018-05-29 13:28] lance opened #107 "Add 'usage' label"
https://github.com/user-cont/colin/blob/master/colin/checks/labels.py#L301-L312

[2018-06-11 13:44] helio-frota opened #111 "Update the publishing guide - Add the steps to update the readme with the latest version"
Here is showing `10.1.0 | (10.x)`
https://hub.docker.com/r/bucharestgold/centos7-s2i-nodejs/
And the last published is `10.4.0`
When following the guide: https://github.com/bucharest-gold/centos7-s2i-nodejs/blob/master/PUBLISHING.md is easy to forget to update the Readme.

[2018-07-12 17:31] jorgemoralespou opened #117 "Which imagestreams to use?"
Reading the README points to an imagestream that does not exist.
Furthermore, in the imagestreams folder there are 2 imagestreams for nodejs-centos, one in json and another one in yaml, which are not related.

[2018-07-13 09:43] #117 closed

[2018-07-13 09:44] lance commented on #117
@jorgemoralespou thanks for pointing out these issues. The `.yml` imagestream file was stale and should have been removed a while ago. Apologies for the confusion!

[2018-07-13 09:45] lance commented on #104
Closing this as work is ongoing to develop a dedicated static site s2i builder image: https://github.com/bucharest-gold/centos7-s2i-web-app

[2018-07-13 09:45] #104 closed

[2018-07-16 13:37] helio-frota opened #118 "Print Node.js version to output"
Would be nice to have the node version showing but I don't know if this is good to be before or after `npm install`

[2018-07-23 18:16] #111 closed

[2018-08-06 18:59] lance commented on #118
Probably makes sense to print it [here](https://github.com/bucharest-gold/centos7-s2i-nodejs/blob/master/s2i/run#L21) just before the application starts.

[2018-08-14 11:07] jorgemoralespou opened #122 "nodejs:10 image not working properly in Online with odo"
@lance We're working with [odo](https://github.com/redhat-developer/odo) and using nodejs for some sample applications. While doing this in OpenShift online we have found some issues with the nodejs images, that I'll enumerate.

- In the assemble scripts there are multiple `chmod` operations that should be replaced with `fix-permissions` script call instead. This script takes care of properly fixi

[2018-08-14 18:58] lance commented on #122
@jorgemoralespou thanks for the detailed write up. We will take a look and get this taken care of!

[2018-08-15 13:51] lance commented on #122
@jorgemoralespou one thing to note... In the OpenShift Online catalog, the Node.js version 8 is different than the Node.js version RHOAR-8 and does not have parity with Node.js version 10. So the reproduction above should be the following.

[code]

[2018-08-15 21:56] lance commented on #122
@jorgemoralespou can you please link to the `fix-permissions` script you reference here?

It's not obvious where to find this from the links provided.

[2018-08-15 23:41] GrahamDumpleton commented on #122
The ``fix-permissions`` script is already in the base image and is put there for this specific purpose.

* https://github.com/sclorg/s2i-base-container/blob/master/core/root/usr/bin/fix-permissions

You do not need to copy it, just execute it.

[2018-08-16 10:31] jorgemoralespou commented on #122
@lance

This is just such a mess. :-(

No wonder why I saw the differences. nodejs:8 is built by the scl team and at least they have implemented all the good practices when writing the assemble.

I guess then that nodejs:8-RHOAR should also be fixed.

[2018-08-16 13:06] lance commented on #122
@GrahamDumpleton thanks.

@jorgemoralespou this versioning was done on purpose - although I can't say it's the best. The concern was that we cannot remove or change the existing Node.js '8', but the RHOAR images are going to be used going forward. So, making a distinction between '8' and RHOAR-8 was necessary. But there is no distinction necessary with 10, since SCL won't have one available in a r

[2018-08-16 13:09] lance commented on #122
My mistake - in spite of the repo name, this appears to be in core.

[2018-08-16 14:15] lance commented on #122
@jorgemoralespou @GrahamDumpleton I've created a fix for the permissions problems here: https://github.com/bucharest-gold/centos7-s2i-nodejs/pull/124. If you have a moment could you please take a look and provide any feedback if you have it? Thanks.

[2018-08-16 16:05] lance commented on #122
@jorgemoralespou @GrahamDumpleton The fix for nss_wrapper is here: https://github.com/bucharest-gold/centos7-s2i-nodejs/pull/125. If you have a moment, could you please take a look here as well? Thanks.

[2018-08-16 22:30] lance commented on #122
@GrahamDumpleton @jorgemoralespou these changes have been pushed to docker hub in `latest`, `10.8.0` and `8.11.3` for the `centos7-s2i-nodejs` image, and should be available in both upstream/community (centos7) downstream (rhel) product releases `10.9.0` and `8.11.4` early next week, when @helio-frota has published the new node.js releases.

[2018-08-23 11:41] #118 closed

[2018-09-11 02:13] helio-frota opened #133 "Review / update CI config."
Wen I was building the https://github.com/bucharest-gold/centos7-s2i-web-app I saw some error/warning messages related to OKD (the new name of origin). Maybe would be good/safe to update the client version and see if the CI build still working as expected to avoid surprises.

https://github.com/bucharest-gold/centos7-s2i-nodejs/blob/master/.travis.yml#L11

Also review the block of travis setup htt

[2018-09-18 18:49] lholmquist opened #135 "run `npm build` during assemble?"
the SCL image does this, https://github.com/sclorg/s2i-nodejs-container/blob/master/8/s2i/bin/assemble#L81-L88

I'm not sure how i feel about it.  I suppose it is a nice feature, especially for those that are using typescript/babel/etc.....   I think currently the only way to do that now, is to have a `postinstall` script in the package.json that runs the build

[2018-09-18 18:56] lance commented on #135
I think it's better than requiring a `postinstall` script, which isn't very intuitive and requires documentaiton.

[2018-09-20 19:38] helio-frota commented on #133
This can be closed.

[2018-09-20 19:38] #133 closed

[2018-09-27 13:07] helio-frota opened #139 "Update the doc to include the backport to master and publish the latest"
This can be done on this section:
https://github.com/bucharest-gold/centos7-s2i-nodejs/blob/10.x/PUBLISHING.md#new-minor-or-patch-level-release

[2018-09-27 13:09] helio-frota opened #140 "To keep the publishing guide updated only on master branch ?"
Maybe is better to delete the publishing guide from the branches and keep updated only on master.

[2018-10-04 19:51] #135 closed

[2018-10-08 03:45] danbev opened #146 "Investigate alternative ways to install debuginfo"
This task should investigate alternative options to installing debuginfo to help users do gdb debugging on openshift. If not running on openshift the debuginfo rpm can be installed with a simple rpm -install command, but when on openshift this is an issue as you need to be root to install this package. We originally installed the debuginfo in the image itself as this was convenient but this caused

[2018-10-16 12:47] lholmquist opened #149 "Investigate a better way to run npm build"
So i noticed that we are always installing all dependecies, then pruning the dev ones at the end.  This is because we are running `npm build --if-present` and if there is an build script, it would fail without dev deps.

Is there a better way to do this instead of installing the dev dependencies, then deleting them.  That way is fine if there is a build script,  but the cases where there isn't, i

[2018-10-18 14:15] uocxp opened #152 "node version 8.12.0 does "npm install -s --only=production""
in version 10 the script installs all the dependencies and them prune them. In version 8.12.0 on the other hand  only production dependencies are installed, which leads to missing dependencies.
In my package.json i have `"build": "tsc", "postinstall": "npm run build"` .
when the build script is called comes out **sh: tsc: command not found**

[2018-10-18 14:31] lholmquist commented on #152
So the 8.x branch does have the commit that adds the this "build" workflow, however, i don't think it is in the image yet in docker hub.

There is also another PR that deals with making the s2i image smarter about not installing everything and then pruning, which is here https://github.com/bucharest-gold/centos7-s2i-nodejs/pull/150

You can set NODE_ENV=development which will make your dev depende

[2018-10-18 14:59] uocxp commented on #152
I imported the nodejs-centos7.json template in openshift and then i chose 8-RHOAR.
When setting the NODE_ENV=development the container works as expected. As you mentioned i must then set the NODE_ENV.

[2018-10-18 15:05] uocxp commented on #152
can any body add the "build" workflow to the image ?

[2018-10-19 15:20] lholmquist commented on #149
closed via https://github.com/bucharest-gold/centos7-s2i-nodejs/commit/0b97088c9c95c2e189f9e5ebf88db300e2eec08a

[2018-10-19 15:20] #149 closed

[2018-10-19 15:50] lholmquist commented on #152
@uocxp i've just published an updated 8.x and 8.12.0 image with the changes from #150

[2018-10-19 15:52] uocxp commented on #152
thanks a lot :)

[2018-10-19 15:55] #152 closed

[2018-10-21 23:53] lholmquist opened #153 "check for "build" script, should also test for the existence of scripts"
There could be the possibility that a package.json has no scripts property.  in this case, our assemble script will fail becuase of this:

https://github.com/bucharest-gold/centos7-s2i-nodejs/blob/master/s2i/assemble#L57

This happened with tests that @bparees is running.  I couldn't find the comment, so pasting in the text from the email notifications

fyi, this started breaking our tests in whic

[2018-10-22 16:18] bparees commented on #153
yeah github appears to be having issues so i dunno where the comment went,
glad you caught it anyway

On Sun, Oct 21, 2018 at 7:53 PM, Lucas Holmquist <notifications@github.com>
wrote:

--
Ben Parees | OpenShift

[2018-10-24 13:16] #146 closed

[2018-10-26 12:43] lance commented on #92
@ofekrv what version are you using

[2018-10-26 14:57] OfekRv commented on #92
Im using openshift with node.js 10
if my NODE_EVN is production than I get this:

  | │                    npm update check failed                    │
  | │              Try running with sudo or get access              │
  | │             to the local update config store via              │
  | │ sudo chown -R $USER:$(id -gn $USER) /opt/app-root/src/.config │

else, if my NODE_ENV defined as devel

[2018-11-05 17:35] helio-frota opened #154 "8x update the sources to nodeshift github organization"
[code]

[2018-11-05 17:36] helio-frota opened #155 "10x update the sources to nodeshift organization"
[code]

[2018-11-05 17:37] helio-frota opened #156 "11x update the sources to nodeshift organization"
[code]

[2018-11-05 17:38] helio-frota opened #157 "branch master: update to nodeshift organization"
[code]

[2018-11-07 11:46] #154 closed

[2018-11-07 11:46] #155 closed

[2018-11-07 11:46] #156 closed

[2018-11-07 11:46] #157 closed

[2018-11-07 12:32] helio-frota opened #162 "squashed image is larger than original"
[code]

The same happened on https://github.com/bucharest-gold/rhel7-base/issues/10

[2018-11-16 16:35] lance commented on #140
Guide has been removed from all active branches except `master`.

[2018-11-16 16:35] #140 closed

[2018-11-16 20:57] #107 closed

[2018-12-06 14:06] #162 closed

[2019-02-15 16:42] helio-frota commented on #97
I was not able to find a way to simply generate a `CHANGELOG.md` file using standard-version.

Our tags are using custom prefix: `node-` (`node-10.15.1`)
standard-version supports the custom tag prefix usage, but when configuring it, automatically generates the tag.

This is the package.json used when trying to create only the `CHANGELOG.md`:

[code]

But it is not showing the correct information

[2019-02-15 16:51] helio-frota commented on #97
Also I can't find any information related to the usage when "Releasing Branches".

[2019-02-28 16:42] lholmquist opened #175 "git-remote-https: error while loading shared libraries: libcurl-httpd24.so.4"
A user reported that they cannot do a git clone from inside a deployment(pod).

here is a repo that will reproduce the error: https://github.com/redallen/breakgit

I've run this on my local minishift.  After cloning locally, you can run:

`npx nodeshift --strictSSL=false`

The pod logs is as follows:

[code]

Got the same error when running with node 11 and node 8, assuming it is the same with nod

[2019-03-01 22:13] #175 closed

[2019-03-06 21:24] helio-frota opened #177 "Wrong git tags"
Specially with 10.x version:

* Github is showing wrong versions and dates:

![screenshot_13](https://user-images.githubusercontent.com/6443576/53914090-96471600-403b-11e9-93f4-92842a37620c.png)

My commit is not showing on 10x but is showing on 11x:

![screenshot_14](https://user-images.githubusercontent.com/6443576/53914417-57659000-403c-11e9-930c-28b186945819.png)

![screenshot_15](https://user

[2019-03-07 19:12] helio-frota commented on #177
@lance seems that the problem related with `standard changelog` affected 10x tags. The other tags with suffix "-1" has no relation with. And other tags from 11x has no issues.

Affected by the tests done with the  standard-changelog-tool:

`10.15.2` is using the wrong commit `chore: update to Node.js 10.15.1`
`10.15.3` is using the wrong commit  `chore: test change log`

---

Common tags:

`11.10.

[2019-03-07 22:46] lance commented on #177
Thanks for taking care of this @helio-frota - I think everything is in order now. Can this be closed?

[2019-03-07 23:25] helio-frota commented on #177
@lance yes, I'm closing now thanks!

[2019-03-07 23:25] #177 closed

[2019-03-12 13:30] bsharrow opened #178 "Support for webpack-dev-server in development mode"
The s2i `run` script only supports nodemon for hot deployments when `DEV_MODE=true`.  To use webpack-dev-server, I can set `DEV_MODE=false` and then override `NPM_RUN` but that results in my build and deploy env using different values for `DEV_MODE` and `NODE_ENV`.

Perhaps the `run` script can be updated with a new environment variable so hot deployments can be started with a different package th

[2019-03-12 13:39] lholmquist commented on #178
would it make more sense to use the [centos7-s2i-web-app](https://github.com/nodeshift/centos7-s2i-web-app) image?  You still would need to override the NPM_RUN variable in the run script

The only "requirement" here is that in the assemble script, it runs "npm run build", so you would need that defined

[2019-03-14 20:04] bsharrow commented on #178
Looks like that will do the trick - I hadn't seen that image as it doesn't look like it's listed in the OCP instance I'm using.  Thanks.

[2019-03-14 20:04] #178 closed

[2019-03-27 15:31] lance opened #179 "Yarn should be installed during s2i assemble phase"
Instead of installing yarn in the [`install_node.sh`](https://github.com/nodeshift/centos7-s2i-nodejs/blob/master/contrib/etc/install_node.sh#L28) script, we should instead use `npx yarn ...` [here](https://github.com/nodeshift/centos7-s2i-web-app/blob/master/s2i/assemble#L51).

[2019-03-27 17:13] lholmquist commented on #179
The web app image would then need to do the same thing.  Currently that image inherits the yarn that is installed in this node image,  but if we do this, then we will need to update the web app image to do the same

[2019-03-27 17:19] helio-frota commented on #179
@lholmquist that is correct.

[2019-03-27 18:52] #179 closed

[2019-04-03 13:11] lance opened #185 "Consider moving this CI over to CircleCI instead of Travis-CI"
Investigate how travis-kube might work in the circleCI environment - or if it's even needed.

[2019-07-17 11:54] rhdojun opened #202 "Source Repo from Tutorial gone?"
Hi, in the readme you write:

[code]

But this repo `https://github.com/nodeshift/nodejs-rest-http` doesn't seem to exist anymore. Could you give an update about how to use this s2i repo? Thanks.

[2019-07-17 12:16] lholmquist commented on #202
@rhdojun ah yes,  that repo has moved to https://github.com/nodeshift-starters/nodejs-rest-http

nice catch.  I'll update the readme

[2019-07-17 12:18] #202 closed

[2019-08-15 16:55] AuthorProxy commented on #92
the same error as @OfekRv has

[2019-09-17 18:18] lholmquist commented on #97
Closing since this is out of date

[2019-09-17 18:18] #97 closed

[2019-09-17 18:22] lholmquist commented on #185
Going to close this, since we use travis to create the released images, and there is a whole process there.

[2019-09-17 18:22] #185 closed

[2019-09-17 18:51] helio-frota commented on #139
Closing this since we are going to do the updates as part of the current process.

[2019-09-17 18:51] #139 closed

[2019-09-18 14:02] lholmquist commented on #153
I'm going to close this for now.

If you are using `npm init` to create your project, a scripts property will be there by default.

if we need to re-open we will

[2019-09-18 14:02] #153 closed

[2020-07-30 07:41] rafrafek opened #205 "Red Hat uses this by default, so how can it be deprecated?"
Red Hat uses this by default when Node.js is selected, so how can it be deprecated?

https://developers.redhat.com/launch/flow/import-existing-app

[2020-08-18 14:51] lholmquist commented on #205
I went to the link,  but not sure what i'm suppose to click on next.  could you take a screenshot of the thing you are looking at?

[2020-08-18 15:11] rafrafek commented on #205
Go to link -> Click "Select Import" button -> Paste link to any Node.js app source, e.g. `https://github.com/heroku/node-js-getting-started` -> You can see that **Generic Node.js Code Builder(nodeshift/centos7-s2i-nodejs)** is automatically selected.

[2020-08-18 15:56] lholmquist commented on #205
@rafrafek thanks.  This was obviously missed during our migration to UBI8

[2020-09-05 00:23] quintesse commented on #205
This has now been removed from the Launcher.

Btw, the Launcher is *not* a Red Hat supported product so might receive updates late (if ever).

[2020-09-05 00:23] quintesse commented on #205
(This can probably be closed now)

[2020-09-08 19:25] lholmquist commented on #205
Thanks for updating that @quintesse

[2020-09-08 19:25] #205 closed, assigned to nobody